.tasklist-form-field {
    width: 85%;
}

.tasklist-list, .tasklist-first-input {
    width: 70%;
    padding: 1em;
    border-radius: 0.5em;
}

.tasklist-list {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tasklist-first-input {
    margin-top: 3.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
}

.tasklist-button-container {
    margin-left: 7%;
}

.tasklist-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.tasklist-taskdesc {
    text-decoration: line-through;
}
