<app-toolbar-main [title]="title"></app-toolbar-main>
<div class="title-center-info">
    <img src="./../../assets/logo.svg" class="title-logo" alt="Taskly Logo">
    <button mat-raised-button color="primary" class="title-button" [routerLink]="tasklist">Start!</button>
</div>
<div class="footer">
    <div>
        Icons desinged by <a class="hyper" href="https://www.flaticon.es/autores/mangsaabguru" title="mangsaabguru">mangsaabguru</a> from <a class="hyper" href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
    </div>
</div>
        
